@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./background.svg') ;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

::placeholder {
  color: white;
}
